* {
    color: #ff1d8e;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
    text-align: center;
}

/* html {
    background-color: pink;
} */

header {
    width: 100%;
    height: 200px;
    /* background-color: hotpink; */
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(pink, hotpink);
}

body, h1 {
    margin: 0;
}

h1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.dark-light-gradient {
    background: linear-gradient(hotpink 80%, pink 30%);
  }

h1, h2 {
    text-align: center;
    font-size: 500%;
}

.container {
    padding-top: 100px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gradient-border {
    border:25px solid transparent;
    background:linear-gradient(to bottom,#ffa726 50%,white 50%) border-box;
  }

html,body{margin:0; padding:0}

.fadedScroller {
      overflow: auto;
      position: sticky;

  }
  .fadedScroller:after {

  content: '';
  top: 0px;
  left: 0;
  height: 200px;
  right: 0;
  background: linear-gradient(to top, transparent 0%, hotpink 100%);
  position: fixed;
  }