* {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
    text-align: center;
}
/* element styles */
html {
    background-color: pink;
}

header {
    width: 100%;
    background-color: hotpink;
    position: sticky;
    top: 0;
}

body, h1 {
    margin: 0;
}

.dark-light-gradient {
    background: linear-gradient(hotpink, pink);
  }

/* img {
    height: 400px;
    margin: auto;
} */

h1, h2 {
    text-align: center;
    font-size: 500%;
}

.container {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gradient-border {
    border:25px solid transparent;
    background:linear-gradient(to bottom,#ffa726 50%,white 50%) border-box;
  }

